<section class="create-container">
  <div class="create">
    <header class="create-header">
      <h2 class="create-heading">Create</h2>
    </header>

    <div class="create-content-box">
      <div class="create-form-image-box">
        <img class="create-image" src="/static/image 1.png" alt="" />
      </div>
      <form class="create-form" method="POST">
        <h3 class="create-form-heading">create new Item</h3>
        {{#if error}}
          <p class="error"> {{error}} </p>
        {{/if}}
        <input
          type="text"
          name="title"
          placeholder="Title"
          value="{{productData.title}}"
        />
        <input
          type="text"
          name="imageUrl"
          placeholder="Image"
          value="{{productData.imageUrl}}"
        />
        <input
          type="text"
          name="imageOne"
          placeholder="Image-1"
          value="{{productData.imageOne}}"
        />
        <input
          type="text"
          name="imageTwo"
          placeholder="Image-2"
          value="{{productData.imageTwo}}"
        />
        <input
          type="text"
          name="imageThree"
          placeholder="Image-3"
          value="{{productData.Three}}"
        />
        <input
          type="text"
          name="imageFour"
          placeholder="Image-4"
          value="{{productData.imageFour}}"
        />
        <textarea
          placeholder="Description"
          name="description"
        >{{productData.description}}</textarea>
        <select name="size">
          {{#each sizeOptions}}
            <option value="{{value}}" {{selected}}> {{label}} </option>
          {{/each}}
        </select>
        <input
          type="text"
          name="price"
          value="{{productData.price}}"
          placeholder="Price"
        />

        <button class="create-btn" type="submit">Create</button>
      </form>
    </div>
  </div>
</section>