<section class="details-container">
  <div class="details">
    <div class="details-image-box">
      <img src="{{product.imageUrl}}" alt="item-image-1" id="big-image" />

      <img
        src="{{product.imageOne}}"
        alt="item-image-2"
        onClick="swapImage(this)"
      />

      <img
        src="{{product.imageTwo}}"
        alt="item-image-3"
        onClick="swapImage(this)"
      />
      <img
        src="{{product.imageTreee}}"
        alt="item-image-4"
        onClick="swapImage(this)"
      />
      <img
        src="{{product.imageFour}}"
        alt="item-image-5"
        onClick="swapImage(this)"
      />

    </div>
    <div class="details-content-box">
      <h2 class="item-title">{{product.title}}</h2>
      <p class="rating">⭐ <span>(5.00)</span></p>
      <p class="item-description">
        {{product.description}}
      </p>

      <h3 class="heading-3">Weights & Sizes</h3>
      <p class="product-size" value="">
        {{product.size}}
      </p>

      <div class="colors">
        <p class="color-text">Color Brown</p>
        <span class="color-1"></span>
        <span class="color-2"></span>
      </div>
      <div class="details-price-info">
        <div class="instock">in Stock <span>&radic;</span></div>
        <div class="price-qty">
          <p class="price"> {{product.price}}.00 €</p>
          {{#if cartQuantity}}
            <div class="quantity">
              <span>Quantity</span>

              <form method="post" action="/products/update">
                <input type="hidden" name="productId" value="{{product.id}}" />
                <input type="hidden" name="action" value="decrease" />
                <button type="submit">-</button>
              </form>
              <p class="qty">{{cartQuantity}}</p>
              <form method="post" action="/products/update">
                <input type="hidden" name="productId" value="{{product.id}}" />
                <input type="hidden" name="action" value="increase" />
                <button type="submit">+</button>
              </form>

            </div>
          {{/if}}

          <div class="cta-buttons">
            {{#if error}} <p> {{error}} </p> {{/if}}
            {{#if (eq user.role "admin")}}
              <a
                class="btn add-to-cart-btn"
                href="/products/{{product.id}}/edit"
              >
                Edit Product
              </a>
              <a
                class="btn add-to-cart-btn"
                href="/products/{{product.id}}/delete"
              >
                delete Product
              </a>
            {{/if}}
            <form method="post">
              <input type="hidden" name="id" value="{{product.id}}" />
              <button class="btn add-to-cart-btn" type="submit">add to cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>