<section class="details-container">
  <div class="details">
    <div class="details-image-box">
      <img src="{{product.imageUrl}}" alt="item-image-1" />
      <img src="{{product.imageOne}}" alt="item-image-2" />
      <img src="{{product.imageTwo}}" alt="item-image-3" />
      <img src="{{product.imageTreee}}" alt="item-image-4" />
      <img src="/static/item-1-images/item-image-5.png" alt="item-image-5" />
    </div>
    <div class="details-content-box">
      <h2 class="item-title">{{product.title}}</h2>
      <p class="rating">⭐ <span>(5.00)</span></p>
      <p class="item-description">
        {{product.descripion}}
      </p>

      <h3 class="heading-3">Weights & Sizes</h3>
      <select class="product-size" value="{{product.size}}">
        <option value="xxl">xxl</option>
        <option value="xl">xl</option>
        <option value="l" selected>l</option>
        <option value="m">m</option>
        <option value="s">s</option>
        <option value="xs">xs</option>
      </select>

      <div class="colors">
        <p class="color-text">Color Brown</p>
        <span class="color-1"></span>
        <span class="color-2"></span>
      </div>
      <div class="details-price-info">
        <div class="instock">in Stock <span>&radic;</span></div>
        <div class="price-qty">
          <p class="price"> {{product.price}}.00 €</p>
          <div class="quantity">
            <span>Quantity</span>

            <button>-</button>
            <p class="qty"> {{cartQuantity}} </p>
            <button>+</button>
          </div>

          <div class="cta-buttons">
            {{#if user}}
              <a
                class="btn add-to-cart-btn"
                href="/products/{{product.id}}/edit"
              >
                Edit Product
              </a>
              <a
                class="btn add-to-cart-btn"
                href="/products/{{product.id}}/delete"
              >
                delete Product
              </a>
            {{/if}}
            <form method="post">
              <input type="hidden" name="id" value="{{product.id}}" />
              <button class="btn add-to-cart-btn" type="submit">add to cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>