<section class="edit-container">
  <div class="edit">
    <header class="edit-header">
      <h2 class="edit-heading">Edit</h2>
    </header>

    <div class="edit-content-box">
      <div class="edit-form-image-box">
        <img class="edit-image" src="{{product.imageUrl}}" alt="" />
      </div>
      <form method="post" class="edit-form">
        <h3 class="edit-form-heading">Edit Item</h3>
        <input
          type="text"
          name="title"
          value="{{product.title}}"
          placeholder="Title"
        />
        <input
          type="text"
          name="imageUrl"
          value="{{product.imageUrl}}"
          placeholder="Image"
        />
        <input
          type="text"
          name="imageOne"
          value="{{product.imageOne}}"
          placeholder="Image-1"
        />
        <input
          type="text"
          name="imageTwo"
          value="{{product.imageTwo}}"
          placeholder="Image-2"
        />
        <input
          type="text"
          name="imageTreee"
          f
          value="{{product.imageTreee}}"
          placeholder="Image-3"
        />
        <input
          type="text"
          name="imageFour"
          value="{{product.imageFour}}"
          placeholder="Image-4"
        />

        <textarea
          name="description"
          placeholder="Description"
          id=""
        >{{product.description}}</textarea>

        <select name="size" value="{{product.size}}">
          {{#each sizeOptions}}
            <option value="{{value}}" {{selected}}> {{label}} </option>
          {{/each}}
        </select>
        <input
          type="number"
          name="price"
          value="{{product.price}}"
          placeholder="Price"
        />

        <button class="edit-btn" type="submit">Edit</button>
      </form>
    </div>
  </div>
</section>