<section class="shop-container">
  <div class="shop">
    <ul class="shop-list">

      {{#each products}}

        <li class="shop-item">
          <div class="shop-cart">
            <div class="cart-image-box">
              <img class="cart-image" src="{{imageUrl}}" alt="item-01" />
              <h2 class="cart-heading"> {{title}} </h2>
              <p class="cart-price">Price: {{price}}€ </p>
            </div>
            <div class="cart-content">
              <p class="cart-description">
                {{descripion}}
              </p>
              <div class="cta-btns">
                <a
                  class="cart-link details-link"
                  href="/products/{{id}}/details"
                >Details</a>
                <form method="post" action="/products/{{id}}/details">
                  <input type="hidden" name="id" value="{{id}}" />
                  <button type="submit" class="cart-link" href="#">Add to Basket</button>
                </form>
              </div>
            </div>
          </div>
        </li>
      {{else}}
        <p style="text-align: center"> Product shop is empty now. </p>
      {{/each}}

    </ul>
  </div>
</section>