<section class="shopping-card-container">
  <ul class="shopping-card">
    <h2 class="shopping-cart-heading">Your Cart</h2>
    {{#each cart}}
      <li class="shopping-cart">
        <img
          class="shopping-cart-image"
          src="{{imageUrl}}"
          alt="item-image-1"
        />
        <p class="shopping-cart-item">{{plus @index 1}}</p>
        <div class="shopping-cart-content">
          <h3 class="shopping-cart-title"> {{title}} </h3>
          <p class="shopping-cart-color">Color: Pink</p>
          <p class="shopping-cart-qty">Quantity: {{quantity}} </p>
        </div>
        <div class="shopping-cart-content">
          <p class="shopping-cart-price-acc">
            <span>{{price}} €</span>
            X
            <span> {{quantity}} </span>
            =
            <span>{{totalPrice}} €</span>
          </p>
          <a href="/products/{{id}}/remove" class="remove-btn">
            <ion-icon name="trash-bin-outline"></ion-icon>
            Remove
          </a>
        </div>
      </li>
    {{/each}}
    <p class="shopping-cart-summary">Total: {{total}} €</p>
    <a {{#if user }} href="/products/checkout" {{else}} href="/users/login" {{/if}} class="shopping-card-purchuse-btn">{{#if user}}
        Purchase
      {{else}} Log in first {{/if}}
    </a>
  </ul>
</section>